*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
    background-image: url(https://img10.reactor.cc/pics/post/full/%D0%96%D0%B5%D0%BD%D1%81%D0%BA%D0%B8%D0%B5-%D0%BC%D1%83%D1%81%D0%BA%D1%83%D0%BB%D1%8B-%D1%80%D0%B0%D0%B7%D0%BD%D0%BE%D0%B5-Fit-Girl-3241591.jpeg);
    background-size: cover;
}
nav{
    height: 12vh;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
}
.logo img {
    height: 20vh;
    width: 10vw;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 2vh 2vw;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 2vh 2vw;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.zag{
    text-align: center;
    line-height: 217px;
    padding-top: 10%;
    padding-right: 50%;
    font-size: 140px;
    font-family: 'Bebas',Arial,sans-serif;
    border-color: transparent;
    font-style: oblique;
}
.zag2{
    text-align: center;
    line-height: 0px;
    padding-top: 5%;
    padding-right: 70%;
    font-size: 100px;
    font-family: 'Bebas',Arial,sans-serif;
    color:#3bccf4;
    font-style: oblique;
}